
<div class="card">
<div class="card-body">
<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
        <div id="error_explanation" class="alert alert-danger" role="alert">
            <h4 class="alert-heading">
                <%= pluralize(@article.errors.count, "error") %> prohibited
                this article from being saved:
            </h4>
            <ul>
                <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
  <% end %>
 
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title,class: "form-control" %>
  </div>
 
  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text , class: "form-control" %>
  </div>
 
    <%= tag.div class: %w( form-group mt-3) do %>
        <%= form.submit class: %w( btn btn-primary ) %>
    <% end %>
 
<% end %>
</div>
</div>